<%= form_with(model: revealed_index) do |form| %>
  <% if revealed_index.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(revealed_index.errors.count, "error") %> prohibited this revealed_index from being saved:</h2>

      <ul>
        <% revealed_index.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game_id %>
    <%= form.text_field :game_id %>
  </div>

  <div class="field">
    <%= form.label :index %>
    <%= form.number_field :index %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
