Game StepCount:<%=@game.stepCount %>
<%=@updated_word%>
<ul>
<% @gameSteps.each do |step|%>
<% editedStep = step %>

  <% @exist.each do |obj| %>
  <% editedStep = editedStep.sub(step[obj.keys[0]], " ~"+step[obj.keys[0]]+"~ ") %>
<% end %>
<li>
  <%= editedStep %>
</li>
<% end %>
</ul>
<% if @is_game_over %>
  <%= "Congratulation! Game Over!\n" %>
  <%= @dict_word %>
  <%=  @definition %>
  <%= link_to "New Game", action: "generate" %>
<% else %>

<%= form_with( url: '/games/check_step') do |form| %>
<%## # TODO: add :pattern to make use all letters.%>
    <%=  form.text_field "stepWord", maxlength: @word.length  %>
    <%= form.text_field "word_length", hidden: true, value: @word.length %>
    <%= form.text_field "word_id", hidden: true, value: @word_id %>
    <%= form.text_field "game_id", hidden: true, value: @game.id %>
  <%=  form.submit %>
  <% end %>
<% end %>
  exist: <%=@exist %>
  on spot:<%=@in_place %>
