<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @word.word %>
</p>

<p>
  <strong>Ktiv Male:</strong>
  <%= @word["ktiv_male"] %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @word.definition %>
</p>

<p>
  <strong>Lettercount:</strong>
  <%= @word.letterCount %>
</p>

<p>
  <strong>Sessioncount:</strong>
  <%= @word.sessionCount %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
